@model SaveMW.Models.NoteViewModels.NoteViewModel

@{
    ViewBag.Title = "Заметка";
}
    @Styles.Render("~/Scripts/tagify")

    <h2>Новая Заметка</h2>


    @using (Html.BeginForm("NewNote", "Note", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @id = "tiny" } })
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <input name="tags" class="form-control" placeholder="Введите теги через пробел">
                </div>
                <div class="col-md-2"></div>
            </div>


            <div class="form-group">
                <label for="fUpload" class="control-label col-md-2">Файлы</label>
                <div id="fUpload" class="col-md-10">
                    <label class="btn btn-default">
                        Прикрепить файлы (не больше 3) <input type="file" name="files" multiple="multiple" accept=".pdf, .docx" hidden>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Назад к заметкам", "Notes")
    </div>

    @section Scripts {
        @Scripts.Render(
                "~/bundles/jqueryval",
                "~/bundles/tinymce",
                "~/bundles/tagify");
       

        <script>
            $(document).ready(function () {
                tinymce.init({
                    selector: "#tiny",
                    height: "320",
                    language: 'ru',
                    plugins: "image",
                    plugins: "code"
                });

                $('[name=tags]').tagify({ delimiters: " "});

            });
        </script>
    }
   