@model SaveMW.Models.AccountViewModels.InfoViewModel

@{
    ViewBag.Title = "Пользователь";
}

<h2>@Model.UserName</h2>

<div>
    <h4>@Model.FIO</h4>
    <hr />
    <dl class="dl-horizontal"> 
        <dt>
           Заметок:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotesCount)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Изменить данные", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Сменить пароль", "ChangePass", new { id = Model.Id })
</p>
